⨯㴠㴽䄠䵄义䐠十䉈䅏䑒倠䕒䥍䵕唠⁉㴽‽⼪਍爺潯⁴ൻ †⼠‪牂湡⁤潃潬獲⠠楅潸⁳摉湥楴祴 ⼪਍††ⴭ摡業⵮牰浩牡㩹⌠戳㈸㙦※⨯䰠杩瑨牥瘠癩摩戠畬⁥⼪਍††ⴭ摡業⵮杢札慲楤湥㩴氠湩慥⵲牧摡敩瑮ㄨ㔳敤Ⱨ⌠㡦慦捦〠Ⱕ⌠㉥㡥てㄠ〰⤥഻ †ⴠ猭摩扥牡戭㩧⌠昰㜱愲഻ †ഠ †⼠‪潍敤湲倠污瑥整⨠യ †ⴠ愭浤湩戭㩧⌠㡦慦捦഻ †ⴠ愭浤湩猭牵慦散›昣晦晦㭦਍††ⴭ摡業⵮整瑸›ㄣ㉥㌹㭢਍††ⴭ摡業⵮畭整㩤⌠㐶㐷戸഻ †ⴠ愭浤湩戭牯敤㩲⌠㉥㡥て഻ഊ †⼠‪汇獡浳牯桰獩⁭…敄瑰⁨⼪਍††ⴭ汧獡⵳杢›杲慢㈨㔵‬㔲ⰵ㈠㔵‬⸰㔹㬩਍††ⴭ汧獡⵳潢摲牥›瀱⁸潳楬⁤杲慢㈨㔵‬㔲ⰵ㈠㔵‬⸰⤲഻ †ⴠ猭慨潤⵷潳瑦›‰瀴⁸〲硰爠执⡡ⰰ〠‬ⰰ〠〮⤳഻ †ⴠ猭慨潤⵷潨敶㩲〠ㄠ瀰⁸㔲硰爠执⡡ⰰ〠‬ⰰ〠〮⤸഻ഊ †⼠‪潆瑮⁳⼪਍††ⴭ潦瑮瀭楲慭祲›䤧瑮牥Ⱗ猠獹整⵭極‬愭灰敬猭獹整Ɑ猠湡⵳敳楲㭦਍††ⴭ潦瑮栭慥楤杮›伧瑵楦❴‬慳獮猭牥晩※⨯䌠敬湡牥栠慥楤杮映湯⁴⼪਍਍††ⴭ慲楤獵砭㩬ㄠ㈮爵浥഻ †ⴠ爭摡畩⵳杬›爱浥഻ †ⴠ爭摡畩⵳摭›⸰㔷敲㭭਍††ⴭ牴湡楳楴湯›畣楢ⵣ敢楺牥〨㈮‬⸰ⰸ〠㈮‬⤱〠㌮㭳਍ൽഊ戊摯⁹ൻ †戠捡杫潲湵㩤瘠牡⴨愭浤湩戭ⵧ牧摡敩瑮㬩਍††潣潬㩲瘠牡⴨愭浤湩琭硥⥴഻ †映湯⵴慦業祬›慶⡲ⴭ潦瑮瀭楲慭祲㬩਍ൽഊ⼊‪楓敤慢⁲湅慨据浥湥⁴⼪਍献摩扥牡笠਍††慢正牧畯摮›慶⡲ⴭ楳敤慢⵲杢㬩਍††潢摲牥爭杩瑨›瀱⁸潳楬⁤杲慢㈨㔵㈬㔵㈬㔵〮〬⤵഻ †戠硯猭慨潤㩷ㄠ瀰⁸‰〴硰爠执⡡ⰰⰰⰰ⸰⤱഻紊਍਍洮湥⵵楬歮笠਍††潢摲牥爭摡畩㩳瘠牡⴨爭摡畩⵳摭㬩਍††慭杲湩›‰⸰爵浥഻ †映湯⵴敷杩瑨›〵㬰਍ൽഊ⸊敭畮氭湩⹫捡楴敶笠਍††慢正牧畯摮›杲慢㔨ⰹㄠ〳‬㐲ⰶ〠ㄮ⤵഻ †挠汯牯›㘣愰昵㭡਍††潢⵸桳摡睯›潮敮഻ †戠牯敤㩲ㄠ硰猠汯摩爠执⡡㤵‬㌱ⰰ㈠㘴‬⸰⤲഻紊਍਍⨯䌠牡⁤牐浥畩⁭敄楳湧⨠യ⸊潣瑮湥⵴慣摲笠਍††慢正牧畯摮›慶⡲ⴭ汧獡⵳杢㬩਍††潢摲牥›瀱⁸潳楬⁤杲慢㈨㔵㈬㔵㈬㔵〬㘮㬩਍††潢⵸桳摡睯›慶⡲ⴭ桳摡睯猭景⥴഻ †戠牯敤⵲慲楤獵›慶⡲ⴭ慲楤獵砭⥬഻ †戠捡摫潲⵰楦瑬牥›汢牵ㄨ瀰⥸഻紊਍਍挮湯整瑮挭牡㩤潨敶⁲ൻ †琠慲獮潦浲›牴湡汳瑡奥⴨瀲⥸഻ †戠硯猭慨潤㩷瘠牡⴨猭慨潤⵷潨敶⥲഻紊਍਍挮牡ⵤ敨摡牥笠਍††慢正牧畯摮›牴湡灳牡湥㭴਍††潢摲牥戭瑯潴㩭ㄠ硰猠汯摩爠执⡡ⰰⰰⰰ⸰㌰㬩਍††慰摤湩㩧ㄠ㜮爵浥㈠敲㭭਍ൽഊ⸊慣摲栭慥敤⁲㍨笠਍††潦瑮昭浡汩㩹瘠牡⴨昭湯⵴敨摡湩⥧഻ †映湯⵴敷杩瑨›〶㬰਍††潦瑮猭穩㩥ㄠ㈮敲㭭਍††潣潬㩲⌠㌳ㄴ㔵഻紊਍਍⨯䈠瑵潴⁮灕牧摡獥⨠യ⸊瑢⵮牰浩牡⁹ൻ †戠捡杫潲湵㩤氠湩慥⵲牧摡敩瑮ㄨ㔳敤Ⱨ⌠戳㈸㙦〠Ⱕ⌠㔲㌶扥ㄠ〰⤥഻ †戠硯猭慨潤㩷〠㐠硰ㄠ瀵⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰㔲㬩਍††潢摲牥爭摡畩㩳ㄠ瀲㭸਍††潦瑮眭楥桧㩴㘠〰഻ †氠瑥整⵲灳捡湩㩧〠㌮硰഻ †瀠摡楤杮›⸰㔷敲⁭⸱爵浥഻紊਍਍戮湴瀭楲慭祲栺癯牥笠਍††潢⵸桳摡睯›‰瀸⁸㔲硰爠执⡡㜳‬㤹‬㌲ⰵ〠㌮⤵഻ †琠慲獮潦浲›牴湡汳瑡奥⴨瀱⥸഻紊਍਍਍⨯䄠楮慭楴湯⁳⼪਍歀祥牦浡獥映摡䥥⁮ൻ †映潲⁭⁻灯捡瑩㩹〠※牴湡晳牯㩭琠慲獮慬整⡙〱硰㬩素਍††潴笠漠慰楣祴›㬱琠慲獮潦浲›牴湡汳瑡奥〨㬩素਍ൽഊ䀊敫晹慲敭⁳汳摩䥥䱮晥⁴ൻ †映潲⁭⁻灯捡瑩㩹〠※牴湡晳牯㩭琠慲獮慬整⡘㈭瀰⥸※ൽ †琠⁯⁻灯捡瑩㩹ㄠ※牴湡晳牯㩭琠慲獮慬整⡘⤰※ൽ紊਍਍‪ൻ †洠牡楧㩮〠഻ †瀠摡楤杮›㬰਍††潢⵸楳楺杮›潢摲牥戭硯഻ †映湯⵴慦業祬›慶⡲ⴭ潦瑮瀭楲慭祲㬩਍ൽഊ戊摯⁹ൻ †戠捡杫潲湵ⵤ潣潬㩲瘠牡⴨愭浤湩戭⥧഻ †挠汯牯›慶⡲ⴭ摡業⵮整瑸㬩਍††敨杩瑨›〱瘰㭨਍††楤灳慬㩹映敬㭸਍††癯牥汦睯›楨摤湥഻紊਍਍⨯㴠㴽匠䑉䉅剁䴠䑏剅⁎㴽‽⼪਍献摩扥牡笠਍††楷瑤㩨㈠〵硰഻ †戠捡杫潲湵㩤⌠戰ㄱ〲※⨯删晥湩摥搠牡敫⁲慢正牧畯摮映潲⁭捳敲湥桳瑯⨠യ †挠汯牯›桷瑩㭥਍††楤灳慬㩹映敬㭸਍††汦硥搭物捥楴湯›潣畬湭഻ †瀠摡楤杮›爲浥ㄠ敲㭭਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍††潢⵸桳摡睯›瀴⁸‰㐲硰爠执⡡ⰰⰰⰰ⸰㔱㬩਍††⵺湩敤㩸㈠㬰਍††癯牥汦睯礭›畡潴഻ †猠牣汯扬牡眭摩桴›桴湩഻ †猠牣汯扬牡挭汯牯›杲慢㈨㔵㈬㔵㈬㔵〬ㄮ 牴湡灳牡湥㭴਍ൽഊ⸊楳敤慢㩲ⴺ敷止瑩猭牣汯扬牡笠਍††楷瑤㩨㔠硰഻紊਍਍献摩扥牡㨺眭扥楫⵴捳潲汬慢⵲桴浵⁢ൻ †戠捡杫潲湵㩤爠执⡡㔲ⰵ㔲ⰵ㔲ⰵ⸰⤱഻ †戠牯敤⵲慲楤獵›〱硰഻紊਍਍献摩扥牡戭慲摮笠਍††楤灳慬㩹映敬㭸਍††番瑳晩⵹潣瑮湥㩴挠湥整㭲਍††慰摤湩ⵧ潢瑴浯›爲浥഻ †洠牡楧⵮潢瑴浯›爲浥഻ †戠牯敤⵲潢瑴浯›瀱⁸潳楬⁤杲慢㈨㔵‬㔲ⰵ㈠㔵‬⸰㠰㬩਍ൽഊ⸊楳敤慢⵲潬潧椭杭笠਍††慭⵸楷瑤㩨ㄠ〴硰഻ †栠楥桧㩴愠瑵㭯਍††楦瑬牥›牢杩瑨敮獳〨 湩敶瑲ㄨ㬩਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍ൽഊ⸊楳敤慢⵲牢湡㩤潨敶⁲献摩扥牡氭杯ⵯ浩⁧ൻ †琠慲獮潦浲›捳污⡥⸱㔰 潲慴整⴨搲来㬩਍ൽഊ⸊楳敤慢⵲敭畮笠਍††楬瑳猭祴敬›潮敮഻ †映敬㩸ㄠ഻ †搠獩汰祡›汦硥഻ †映敬⵸楤敲瑣潩㩮挠汯浵㭮਍††慧㩰〠㔮敲㭭਍ൽഊ⸊敭畮椭整⁭ൻ †洠牡楧⵮潢瑴浯›⸰爵浥഻紊਍਍洮湥⵵楬歮笠਍††楤灳慬㩹映敬㭸਍††污杩⵮瑩浥㩳挠湥整㭲਍††慧㩰ㄠ敲㭭਍††慰摤湩㩧〠㠮敲⁭⸱㔲敲㭭਍††潣潬㩲爠执⡡㔲ⰵ㈠㔵‬㔲ⰵ〠㜮㬩਍††整瑸搭捥牯瑡潩㩮渠湯㭥਍††潢摲牥爭摡畩㩳瘠牡⴨爭摡畩⵳摭㬩਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍††潦瑮眭楥桧㩴㔠〰഻紊਍਍洮湥⵵楬歮栺癯牥笠਍††慢正牧畯摮›杲慢㈨㔵‬㔲ⰵ㈠㔵‬⸰㔰㬩਍††潣潬㩲眠楨整഻紊਍਍洮湥⵵楬歮愮瑣癩⁥ൻ †戠捡杫潲湵㩤⌠攱愳愸※⨯䐠敥⁰汢敵映潲⁭捳敲湥桳瑯愠瑣癩⁥瑳瑡⁥⼪਍††慢正牧畯摮›楬敮牡札慲楤湥⡴〹敤Ⱨ⌠㔲㌶扥‬ㄣ㑥愰⥦഻ †挠汯牯›桷瑩㭥਍††潢⵸桳摡睯›‰瀴⁸㈱硰爠执⡡㜳‬㤹‬㌲ⰵ〠㌮㬩਍ൽഊ⸊敭畮氭湩⁫⁩ൻ †眠摩桴›㐲硰഻ †琠硥⵴污杩㩮挠湥整㭲਍††潦瑮猭穩㩥ㄠㄮ敲㭭਍ൽഊ⸊獵牥瀭潲楦敬笠਍††楤灳慬㩹映敬㭸਍††污杩⵮瑩浥㩳挠湥整㭲਍††慧㩰ㄠ敲㭭਍††慰摤湩㩧ㄠ㔮敲⁭㬰਍††潢摲牥琭灯›瀱⁸潳楬⁤杲慢㈨㔵‬㔲ⰵ㈠㔵‬⸰㠰㬩਍††慭杲湩琭灯›畡潴഻紊਍਍甮敳⵲癡瑡牡笠਍††楷瑤㩨㐠瀲㭸਍††敨杩瑨›㈴硰഻ †戠牯敤⵲慲楤獵›〵㬥਍††慢正牧畯摮›㐣㔷㘵㬹਍††潢⵸桳摡睯›‰‰‰瀲⁸杲慢㈨㔵㈬㔵㈬㔵〬ㄮ㬩਍ൽഊ⸊慭湩挭湯整瑮笠਍††汦硥›㬱਍††癯牥汦睯礭›畡潴഻ †瀠摡楤杮›⸲爵浥഻ †戠捡杫潲湵ⵤ潣潬㩲⌠㡦慦捦഻ †戠捡杫潲湵ⵤ浩条㩥爠摡慩⵬牧摡敩瑮爨执⡡〱ⰰㄠ㘱‬㌱ⰹ〠ㄮ⤵ㄠ㔮硰‬牴湡灳牡湥⁴⸱瀵⥸഻ †戠捡杫潲湵ⵤ楳敺›㐲硰㈠瀴㭸਍ൽഊ⼊‪㴽‽䅄䡓佂剁⁄䥕䌠䵏佐䕎呎⁓㴽‽⼪਍搮獡扨慯摲猭捥楴湯笠਍††湡浩瑡潩㩮映摡䥥⁮⸰猶攠獡ⵥ畯㭴਍ൽഊ⸊潴⵰慢⁲ൻ †搠獩汰祡›汦硥഻ †樠獵楴祦挭湯整瑮›灳捡ⵥ敢睴敥㭮਍††污杩⵮瑩浥㩳挠湥整㭲਍††慭杲湩戭瑯潴㩭㈠㔮敲㭭਍ൽഊ⸊慰敧琭瑩敬笠਍††潦瑮猭穩㩥ㄠ㜮爵浥഻ †挠汯牯›慶⡲ⴭ摡業⵮敳潣摮牡⥹഻ †映湯⵴敷杩瑨›〷㬰਍ൽഊ⼊‪灕慤整⁤瑓瑡⁳片摩⨠യ⸊瑳瑡⵳牧摩笠਍††楤灳慬㩹朠楲㭤਍††牧摩琭浥汰瑡ⵥ潣畬湭㩳爠灥慥⡴畡潴昭瑩‬業浮硡㈨〶硰‬昱⥲㬩਍††慧㩰ㄠ㔮敲㭭਍††慭杲湩戭瑯潴㩭㈠㔮敲㭭਍ൽഊ⸊瑳瑡挭牡⁤ൻ †戠捡杫潲湵㩤瘠牡⴨愭浤湩猭牵慦散㬩਍††慰摤湩㩧ㄠ㔮敲㭭਍††潢摲牥爭摡畩㩳瘠牡⴨爭摡畩⵳杬㬩਍††潢⵸桳摡睯›慶⡲ⴭ桳摡睯猭⥭഻ †戠牯敤㩲ㄠ硰猠汯摩爠执⡡㈲ⰶ㈠㈳‬㐲ⰰ〠㘮㬩਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍ൽഊ⸊瑳瑡挭牡㩤潨敶⁲ൻ †琠慲獮潦浲›牴湡汳瑡奥⴨瀵⥸഻ †戠硯猭慨潤㩷瘠牡⴨猭慨潤⵷杬㬩਍††潢摲牥挭汯牯›慶⡲ⴭ摡業⵮牰浩牡⥹഻紊਍਍献慴⵴敨摡牥笠਍††楤灳慬㩹映敬㭸਍††番瑳晩⵹潣瑮湥㩴猠慰散戭瑥敷湥഻ †愠楬湧椭整獭›汦硥猭慴瑲഻ †洠牡楧⵮潢瑴浯›⸱㔲敲㭭਍ൽഊ⸊瑳瑡椭潣⁮ൻ †眠摩桴›㠴硰഻ †栠楥桧㩴㐠瀸㭸਍††潢摲牥爭摡畩㩳ㄠ瀲㭸਍††楤灳慬㩹映敬㭸਍††污杩⵮瑩浥㩳挠湥整㭲਍††番瑳晩⵹潣瑮湥㩴挠湥整㭲਍††潦瑮猭穩㩥ㄠ㐮敲㭭਍ൽഊ⸊瑳瑡椭潣⹮汢敵笠戠捡杫潲湵㩤爠执⡡㜳‬㤹‬㌲ⰵ〠ㄮ㬩挠汯牯›慶⡲ⴭ摡業⵮牰浩牡⥹※ൽ⸊瑳瑡椭潣⹮牧敥⁮⁻慢正牧畯摮›杲慢ㄨⰶㄠ㔸‬㈱ⰹ〠ㄮ㬩挠汯牯›慶⡲ⴭ畳捣獥⥳※ൽ⸊瑳瑡椭潣⹮敹汬睯笠戠捡杫潲湵㩤爠执⡡㐲ⰵㄠ㠵‬ㄱ‬⸰⤱※潣潬㩲瘠牡⴨眭牡楮杮㬩素਍਍献慴⵴慶畬⁥ൻ †映湯⵴楳敺›⸲㔲敲㭭਍††潦瑮眭楥桧㩴㜠〰഻ †挠汯牯›慶⡲ⴭ摡業⵮敳潣摮牡⥹഻ †氠湩ⵥ敨杩瑨›⸱㬲਍††敬瑴牥猭慰楣杮›ㄭ硰഻紊਍਍献慴⵴慬敢⁬ൻ †映湯⵴楳敺›⸰㔹敲㭭਍††潣潬㩲瘠牡⴨愭浤湩洭瑵摥㬩਍††潦瑮眭楥桧㩴㔠〰഻紊਍਍⨯㴠㴽吠䉁䕌⁓㴽‽⼪਍⨯㴠㴽䴠䑏剅⁎䅔䱂卅㴠㴽⨠യ⸊潣瑮湥⵴慣摲笠਍††慢正牧畯摮›慶⡲ⴭ摡業⵮畳晲捡⥥഻ †戠牯敤⵲慲楤獵›慶⡲ⴭ慲楤獵氭⥧഻ †戠硯猭慨潤㩷瘠牡⴨猭慨潤⵷浳㬩਍††潢摲牥›瀱⁸潳楬⁤杲慢㈨㘲‬㌲ⰲ㈠〴‬⸰⤶഻ †漠敶晲潬㩷栠摩敤㭮਍††慭杲湩戭瑯潴㩭㈠敲㭭਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍ൽഊ⸊潣瑮湥⵴慣摲栺癯牥笠਍††潢⵸桳摡睯›慶⡲ⴭ桳摡睯洭⥤഻紊਍਍挮牡ⵤ敨摡牥笠਍††慰摤湩㩧ㄠ㔮敲⁭爲浥഻ †戠捡杫潲湵㩤眠楨整഻ †戠牯敤⵲潢瑴浯›瀱⁸潳楬⁤慶⡲ⴭ摡業⵮潢摲牥㬩਍††楤灳慬㩹映敬㭸਍††番瑳晩⵹潣瑮湥㩴猠慰散戭瑥敷湥഻ †愠楬湧椭整獭›散瑮牥഻紊਍਍挮牡ⵤ敨摡牥栠″ൻ †映湯⵴楳敺›⸱爱浥഻ †挠汯牯›慶⡲ⴭ摡業⵮敳潣摮牡⥹഻紊਍਍戮湴猭⁭ൻ †瀠摡楤杮›⸰父浥ㄠ㈮敲㭭਍††潦瑮猭穩㩥〠㠮爵浥഻ †戠牯敤⵲慲楤獵›〵硰※⨯倠汩⁬桳灡⁥⼪਍††畣獲牯›潰湩整㭲਍††潦瑮眭楥桧㩴㘠〰഻ †琠慲獮瑩潩㩮瘠牡⴨琭慲獮瑩潩⥮഻ †戠牯敤㩲渠湯㭥਍††楤灳慬㩹椠汮湩ⵥ汦硥഻ †愠楬湧椭整獭›散瑮牥഻ †朠灡›⸰爵浥഻ †琠硥⵴牴湡晳牯㩭甠灰牥慣敳഻ †氠瑥整⵲灳捡湩㩧〠㔮硰഻紊਍਍戮湴瀭楲慭祲笠ഠ †戠捡杫潲湵㩤⌠㔲㌶扥഻ †戠捡杫潲湵㩤氠湩慥⵲牧摡敩瑮ㄨ㔳敤Ⱨ⌠㔲㌶扥〠Ⱕ⌠攱〴晡ㄠ〰⤥഻ †挠汯牯›桷瑩㭥ഠ †戠硯猭慨潤㩷〠㐠硰ㄠ瀲⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤲഻ †琠硥⵴牴湡晳牯㩭甠灰牥慣敳഻ †映湯⵴慦業祬›慶⡲ⴭ潦瑮栭慥楤杮㬩਍††敬瑴牥猭慰楣杮›⸰瀵㭸਍ൽ⸊瑢⵮牰浩牡㩹潨敶⁲ൻ †琠慲獮潦浲›牴湡汳瑡奥⴨瀲⥸഻ †戠硯猭慨潤㩷〠㠠硰ㄠ瀶⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤳഻紊਍਍戮湴漭瑵楬敮笠ഠ †戠捡杫潲湵㩤琠慲獮慰敲瑮※਍††潢摲牥›瀱⁸潳楬⁤慶⡲ⴭ摡業⵮潢摲牥㬩ഠ †挠汯牯›慶⡲ⴭ摡業⵮整瑸㬩ഠ紊਍戮湴漭瑵楬敮栺癯牥笠਍††潢摲牥挭汯牯›慶⡲ⴭ摡業⵮牰浩牡⥹഻ †挠汯牯›慶⡲ⴭ摡業⵮牰浩牡⥹഻紊਍਍戮湴愭瑣潩⁮⁻਍††楷瑤㩨㌠瀲㭸਍††敨杩瑨›㈳硰഻ †戠牯敤⵲慲楤獵›〵㬥਍††潣潬㩲瘠牡⴨愭浤湩洭瑵摥㬩ഠ †戠捡杫潲湵㩤琠慲獮慰敲瑮※਍††潦瑮猭穩㩥〠㤮敲㭭ഠ †琠慲獮瑩潩㩮瘠牡⴨琭慲獮瑩潩⥮഻ †戠牯敤㩲渠湯㭥਍††畣獲牯›潰湩整㭲਍††楤灳慬㩹椠汮湩ⵥ汦硥഻ †愠楬湧椭整獭›散瑮牥഻ †樠獵楴祦挭湯整瑮›散瑮牥഻紊਍戮湴愭瑣潩㩮潨敶⁲⁻਍††慢正牧畯摮›昣昱昵㬹਍††潣潬㩲瘠牡⴨愭浤湩瀭楲慭祲㬩ഠ †琠慲獮潦浲›捳污⡥⸱⤱഻紊਍戮湴搭汥瑥㩥潨敶⁲⁻਍††慢正牧畯摮›昣晥昲㬲਍††潣潬㩲瘠牡⴨搭湡敧⥲※਍ൽഊ琊扡敬笠਍††楷瑤㩨ㄠ〰㬥਍††潢摲牥挭汯慬獰㩥猠灥牡瑡㭥਍††潢摲牥猭慰楣杮›㬰਍ൽഊ琊⁨ൻ †戠捡杫潲湵㩤⌠㡦慦捦഻ †瀠摡楤杮›⸱爲浥㈠敲㭭਍††整瑸愭楬湧›敬瑦഻ †映湯⵴楳敺›⸰㔷敲㭭਍††整瑸琭慲獮潦浲›灵数捲獡㭥਍††敬瑴牥猭慰楣杮›⸰㔰浥഻ †挠汯牯›慶⡲ⴭ摡業⵮畭整⥤഻ †映湯⵴敷杩瑨›〶㬰਍††潢摲牥戭瑯潴㩭ㄠ硰猠汯摩瘠牡⴨愭浤湩戭牯敤⥲഻紊਍਍戮湴猭⁭⁩ൻ †洠牡楧⵮楲桧㩴〠㔮敲㭭਍ൽഊ琊⁤ൻ †瀠摡楤杮›⸱爲浥㈠敲㭭਍††潢摲牥戭瑯潴㩭ㄠ硰猠汯摩瘠牡⴨愭浤湩戭牯敤⥲഻ †映湯⵴楳敺›⸰㔹敲㭭਍††敶瑲捩污愭楬湧›業摤敬഻ †戠捡杫潲湵㩤眠楨整഻ †琠慲獮瑩潩㩮戠捡杫潲湵⁤⸰猲഻紊਍਍牴栺癯牥琠⁤ൻ †戠捡杫潲湵㩤⌠㡦慦捦഻紊਍਍牴氺獡⵴档汩⁤摴笠戠牯敤⵲潢瑴浯›潮敮※ൽഊ⸊瑳瑡獵戭摡敧笠਍††慰摤湩㩧〠㌮爵浥〠㠮爵浥഻ †戠牯敤⵲慲楤獵›爲浥഻ †映湯⵴楳敺›⸰㔷敲㭭਍††潦瑮眭楥桧㩴㘠〰഻ †琠硥⵴牴湡晳牯㩭甠灰牥慣敳഻ †氠瑥整⵲灳捡湩㩧〠〮攲㭭਍††楤灳慬㩹椠汮湩ⵥ汢捯㭫਍ൽഊ⸊瑳瑡獵戭摡敧愮瑣癩⁥⁻慢正牧畯摮›搣晣散㬷挠汯牯›ㄣ㠵㌰㭤素਍献慴畴⵳慢杤⹥牤晡⁴⁻慢正牧畯摮›昣昱昵㬹挠汯牯›㐣㔷㘵㬹素਍਍⨯㴠㴽匠䍅䥔乏⁓㴽‽⼪਍搮獡扨慯摲猭捥楴湯笠਍††楤灳慬㩹渠湯㭥਍ൽ⸊慤桳潢牡ⵤ敳瑣潩⹮捡楴敶笠਍††楤灳慬㩹戠潬正഻紊਍਍⨯㴠㴽䴠䉏䱉⁅㴽‽⼪਍浀摥慩⠠慭⵸楷瑤㩨㜠㠶硰 ൻ †⸠楳敤慢⁲ൻ †††瀠獯瑩潩㩮映硩摥഻ †††氠晥㩴ⴠ㠲瀰㭸਍††††敨杩瑨›〱┰഻ †††稠椭摮硥›〵഻ †素਍††献摩扥牡漮数⁮ൻ †††氠晥㩴〠഻ †素਍††洮楡⵮潣瑮湥⁴ൻ †††瀠摡楤杮›爱浥഻ †素਍††洮湥⵵潴杧敬愭浤湩笠਍††††楤灳慬㩹戠潬正഻ †††映湯⵴楳敺›⸱爵浥഻ †††挠牵潳㩲瀠楯瑮牥഻ †素਍ൽഊ⼊‪㴽‽佌䥇⁎䅐䕇匠奔䕌⁓䄨䑄䑅 㴽‽⼪਍氮杯湩戭摯⁹ൻ †瀠獯瑩潩㩮映硩摥഻ †琠灯›㬰਍††敬瑦›㬰਍††⵺湩敤㩸㤠㤹㬹਍††慢正牧畯摮›桷瑩㭥਍††楷瑤㩨ㄠ〰睶഻ †栠楥桧㩴ㄠ〰桶഻ †搠獩汰祡›汦硥഻ †漠敶晲潬㩷栠摩敤㭮਍††牴湡楳楴湯›灯捡瑩⁹⸰猵攠獡㭥਍ൽഊ⸊潬楧⵮潢祤昮摡ⵥ畯⁴ൻ †漠慰楣祴›㬰਍††潰湩整⵲癥湥獴›潮敮഻紊਍਍氮杯湩戭慲摮猭摩⁥ൻ †映敬㩸ㄠ഻ †戠捡杫潲湵ⵤ浩条㩥氠湩慥⵲牧摡敩瑮ㄨ㔳敤Ⱨ爠执⡡㔱‬㌲‬㈴‬⸰⤸‬杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤷Ⱙ甠汲✨瑨灴㩳⼯浩条獥甮獮汰獡⹨潣⽭桰瑯ⵯ㔱㌹ㄱ㔳㠹㌳ⴲ摣㠲搸㐶㐹㌳愿瑵㵯潦浲瑡昦瑩挽潲♰㵱〸眦ㄽ㈹✰㬩ഠ †戠捡杫潲湵ⵤ楳敺›潣敶㭲਍††慢正牧畯摮瀭獯瑩潩㩮挠湥整㭲਍††楤灳慬㩹映敬㭸਍††汦硥搭物捥楴湯›潣畬湭഻ †樠獵楴祦挭湯整瑮›散瑮牥഻ †瀠摡楤杮›爵浥഻ †挠汯牯›桷瑩㭥਍††潰楳楴湯›敲慬楴敶഻ †漠敶晲潬㩷栠摩敤㭮਍ൽഊ⸊牢湡ⵤ潣瑮湥⁴ㅨ笠਍††潦瑮猭穩㩥㌠敲㭭਍††潣潬㩲眠楨整഻ †洠牡楧⵮潢瑴浯›⸱爵浥഻紊਍਍戮慲摮挭湯整瑮瀠笠਍††潦瑮猭穩㩥ㄠ㈮敲㭭਍††灯捡瑩㩹〠㤮഻紊਍਍氮杯湩昭牯⵭楳敤笠਍††汦硥›㬱਍††楤灳慬㩹映敬㭸਍††污杩⵮瑩浥㩳挠湥整㭲਍††番瑳晩⵹潣瑮湥㩴挠湥整㭲਍††慢正牧畯摮›桷瑩㭥਍††慰摤湩㩧㈠敲㭭਍ൽഊ⸊潬楧⵮慣摲洭摯牥⁮ൻ †眠摩桴›〱┰഻ †洠硡眭摩桴›㈴瀰㭸਍††慰摤湩㩧㈠敲㭭਍ൽഊ⸊潬楧⵮潬潧笠਍††敨杩瑨›〲瀰㭸਍††慭杲湩戭瑯潴㩭ㄠ硰※਍ൽഊ⼊‪㴽‽但䵒唠䥔䥌䥔卅⠠潌楧⁮…潍慤⥬㴠㴽⨠യ⸊潦浲札潲灵笠਍††慭杲湩戭瑯潴㩭ㄠ㔮敲㭭਍††整瑸愭楬湧›敬瑦഻紊਍਍昮牯⵭慬敢⁬ൻ †搠獩汰祡›汢捯㭫਍††慭杲湩戭瑯潴㩭〠㔮敲㭭਍††潦瑮眭楥桧㩴㔠〰഻ †映湯⵴楳敺›⸰㔹敲㭭਍††潣潬㩲瘠牡⴨愭浤湩琭硥⥴഻紊਍਍昮牯⵭湩異⁴ൻ †眠摩桴›〱┰഻ †瀠摡楤杮›⸰爹浥ㄠ敲㭭਍††潢摲牥›瀱⁸潳楬⁤慶⡲ⴭ摡業⵮潢摲牥㬩਍††潢摲牥爭摡畩㩳瘠牡⴨爭摡畩⵳摭㬩਍††潦瑮猭穩㩥ㄠ敲㭭਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍††慢正牧畯摮›昣昸晡㭣਍††潦瑮昭浡汩㩹瘠牡⴨昭湯⵴牰浩牡⥹഻紊਍਍昮牯⵭湩異㩴潦畣⁳ൻ †漠瑵楬敮›潮敮഻ †戠捡杫潲湵㩤眠楨整഻ †戠牯敤⵲潣潬㩲瘠牡⴨愭浤湩瀭楲慭祲㬩਍††潢⵸桳摡睯›‰‰‰瀳⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤱഻紊਍਍戮湴氭杯湩笠਍††楷瑤㩨ㄠ〰㬥਍††慰摤湩㩧ㄠㄮ敲㭭਍††慢正牧畯摮›慶⡲ⴭ摡業⵮牰浩牡⥹഻ †戠捡杫潲湵㩤氠湩慥⵲牧摡敩瑮ㄨ㔳敤Ⱨ瘠牡⴨愭浤湩瀭楲慭祲 ┰‬ㄣ㑤摥‸〱┰㬩਍††潣潬㩲眠楨整഻ †戠牯敤㩲渠湯㭥਍††潢摲牥爭摡畩㩳㔠瀰㭸⼠‪楐汬猠慨数⨠യ †映湯⵴敷杩瑨›〷㬰਍††潦瑮猭穩㩥ㄠ敲㭭਍††畣獲牯›潰湩整㭲਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍††慭杲湩琭灯›⸱爵浥഻ †戠硯猭慨潤㩷〠ㄠ瀰⁸㔱硰ⴠ瀳⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤳഻ †映湯⵴慦業祬›慶⡲ⴭ潦瑮栭慥楤杮㬩਍††整瑸琭慲獮潦浲›灵数捲獡㭥਍††敬瑴牥猭慰楣杮›瀱㭸਍ൽഊ⸊瑢⵮潬楧㩮潨敶⁲ൻ †琠慲獮潦浲›牴湡汳瑡奥⴨瀲⥸഻ †戠硯猭慨潤㩷〠ㄠ瀵⁸〲硰ⴠ瀳⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤴഻紊਍਍⨯㴠㴽倠佒䕊呃䌠剁卄䜠䥒⁄㴽‽⼪਍瀮潲敪瑣⵳牧摩挭湯慴湩牥笠਍††楤灳慬㩹朠楲㭤਍††牧摩琭浥汰瑡ⵥ潣畬湭㩳爠灥慥⡴畡潴昭汩ⱬ洠湩慭⡸㈳瀰ⱸㄠ牦⤩഻ †朠灡›⸱爵浥഻ †瀠摡楤杮›⸱爵浥഻紊਍਍愮浤湩瀭潲敪瑣挭牡⁤ൻ †戠捡杫潲湵㩤眠楨整഻ †戠牯敤⵲慲楤獵›慶⡲ⴭ慲楤獵氭⥧഻ †漠敶晲潬㩷栠摩敤㭮਍††潢摲牥›瀱⁸潳楬⁤慶⡲ⴭ摡業⵮潢摲牥㬩਍††牴湡楳楴湯›慶⡲ⴭ牴湡楳楴湯㬩਍††楤灳慬㩹映敬㭸਍††汦硥搭物捥楴湯›潣畬湭഻紊਍਍愮浤湩瀭潲敪瑣挭牡㩤潨敶⁲ൻ †琠慲獮潦浲›牴湡汳瑡奥⴨瀵⥸഻ †戠硯猭慨潤㩷瘠牡⴨猭慨潤⵷杬㬩਍ൽഊ⸊牰橯捥⵴慣摲椭慭敧笠਍††楷瑤㩨ㄠ〰㬥਍††敨杩瑨›㠱瀰㭸਍††潰楳楴湯›敲慬楴敶഻紊਍਍瀮潲敪瑣挭牡ⵤ浩条⁥浩⁧ൻ †眠摩桴›〱┰഻ †栠楥桧㩴ㄠ〰㬥਍††扯敪瑣昭瑩›潣敶㭲਍ൽഊ⸊牰橯捥⵴慣摲琭条笠਍††潰楳楴湯›扡潳畬整഻ †琠灯›爱浥഻ †爠杩瑨›爱浥഻ †戠捡杫潲湵㩤爠执⡡㜳‬㤹‬㌲ⰵ〠㤮㬩਍††潣潬㩲眠楨整഻ †瀠摡楤杮›⸰爴浥ㄠ敲㭭਍††潢摲牥爭摡畩㩳㈠敲㭭਍††潦瑮猭穩㩥〠㜮爵浥഻ †映湯⵴敷杩瑨›〶㬰਍ൽഊ⸊牰橯捥⵴慣摲挭湯整瑮笠਍††慰摤湩㩧ㄠ㔮敲㭭਍††汦硥›㬱਍ൽഊ⸊牰橯捥⵴慣摲挭湯整瑮栠″ൻ †映湯⵴楳敺›⸱㔱敲㭭਍††慭杲湩戭瑯潴㩭〠㔮敲㭭਍††潣潬㩲瘠牡⴨愭浤湩猭捥湯慤祲㬩਍ൽഊ⸊牰橯捥⵴慣摲攭捸牥瑰笠਍††潦瑮猭穩㩥〠㤮敲㭭਍††潣潬㩲瘠牡⴨愭浤湩洭瑵摥㬩਍††楬敮栭楥桧㩴ㄠ㔮഻ †洠牡楧⵮潢瑴浯›⸱㔲敲㭭਍ൽഊ⸊牰橯捥⵴慣摲猭慴獴笠਍††楤灳慬㩹映敬㭸਍††慧㩰ㄠ敲㭭਍††潢摲牥琭灯›瀱⁸潳楬⁤慶⡲ⴭ摡業⵮潢摲牥㬩਍††慰摤湩ⵧ潴㩰ㄠ㈮爵浥഻紊਍਍献慴⵴楰汬笠਍††慢正牧畯摮›昣昸晡㭣਍††慰摤湩㩧〠㔮敲⁭⸰㔸敲㭭਍††潢摲牥爭摡畩㩳〠㔮敲㭭਍††潦瑮猭穩㩥〠㠮敲㭭਍††潣潬㩲瘠牡⴨愭浤湩琭硥⥴഻紊਍਍献慴⵴楰汬椠笠਍††潣潬㩲瘠牡⴨愭浤湩瀭楲慭祲㬩਍††慭杲湩爭杩瑨›⸰爴浥഻紊਍਍瀮潲敪瑣挭牡ⵤ潦瑯牥笠਍††慰摤湩㩧ㄠ㈮爵浥ㄠ㔮敲㭭਍††楤灳慬㩹映敬㭸਍††番瑳晩⵹潣瑮湥㩴猠慰散戭瑥敷湥഻ †愠楬湧椭整獭›散瑮牥഻ †戠捡杫潲湵㩤⌠㡦慦捦഻ †戠牯敤⵲潴㩰ㄠ硰猠汯摩瘠牡⴨愭浤湩戭牯敤⥲഻紊਍਍瀮潲敪瑣挭牡ⵤ捡楴湯⁳ൻ †搠獩汰祡›汦硥഻ †朠灡›⸰爵浥഻紊਍਍⨯㴠㴽删䙅义䑅倠佒䕊呃⁓䥕⠠䵉䝁⁅䅍䍔⥈㴠㴽⨠യ⸊敨摡牥愭瑣潩⵮慣摲笠਍††慢正牧畯摮›桷瑩㭥਍††慰摤湩㩧ㄠ㔮敲⁭爲浥഻ †戠牯敤⵲慲楤獵›慶⡲ⴭ慲楤獵氭⥧഻ †戠牯敤㩲渠湯㭥਍††潢⵸桳摡睯›‰瀴⁸㔱硰爠执⡡ⰰⰰⰰ⸰㔰㬩਍††慭杲湩戭瑯潴㩭㈠敲㭭਍ൽഊ⸊慣摲栭慥敤⵲慭湩笠਍††楤灳慬㩹映敬㭸਍††番瑳晩⵹潣瑮湥㩴猠慰散戭瑥敷湥഻ †愠楬湧椭整獭›散瑮牥഻ †映敬⵸牷灡›牷灡※⨯倠敲敶瑮戠敲歡湩⁧湯瘠牥⁹浳污⁬捳敲湥ⱳ戠瑵眠慲⁰牧捡晥汵祬⨠യ †朠灡›爱浥഻紊਍਍挮牡ⵤ敨摡牥洭楡⁮㉨笠਍††潦瑮猭穩㩥ㄠ㐮敲㭭਍††潣潬㩲瘠牡⴨愭浤湩猭捥湯慤祲㬩਍††潦瑮昭浡汩㩹瘠牡⴨昭湯⵴敨摡湩⥧഻ †洠牡楧㩮〠഻紊਍਍栮慥敤⵲捡楴湯⵳牧畯⁰ൻ †搠獩汰祡›汦硥഻ †朠灡›爱浥഻ †愠楬湧椭整獭›散瑮牥഻ †映敬⵸牷灡›潮牷灡※⨯䘠牯散猠湩汧⁥楬敮漠⁮敤歳潴⁰⼪਍ൽഊ⸊敳牡档眭慲灰牥笠਍††潰楳楴湯›敲慬楴敶഻ †眠摩桴›〳瀰㭸਍††敨杩瑨›㠴硰※⨯䘠硩摥栠楥桧⁴潦⁲污杩浮湥⁴⼪਍ൽഊ⸊敳牡档椭灮瑵笠਍††楷瑤㩨ㄠ〰㬥਍††敨杩瑨›〱┰഻ †瀠摡楤杮›‰爱浥〠ㄠ敲㭭਍††潢摲牥爭摡畩㩳ㄠ瀰㭸਍††慢正牧畯摮›昣昸晡㭣਍††潢摲牥›瀱⁸潳楬⁤攣攲昸㬰਍††潦瑮猭穩㩥〠㤮爵浥഻ †琠慲獮瑩潩㩮愠汬〠㈮㭳਍ൽഊ⸊敳牡档椭灮瑵昺捯獵笠਍††潢摲牥挭汯牯›㈣㘵攳㭢਍††慢正牧畯摮›桷瑩㭥਍††潢⵸桳摡睯›‰‰‰瀳⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤱഻紊਍਍献慥捲⵨捩湯笠਍††潰楳楴湯›扡潳畬整഻ †爠杩瑨›爱浥഻ †琠灯›〵㬥਍††牴湡晳牯㩭琠慲獮慬整⡙㔭┰㬩਍††潣潬㩲⌠㐹㍡㡢഻ †瀠楯瑮牥攭敶瑮㩳渠湯㭥਍ൽഊ⸊瑢⵮摡ⵤ敮ⱷ⸠瑢⵮敳牡档笠਍††敨杩瑨›㠴硰※⨯䴠瑡档椠灮瑵栠楥桧⁴⼪਍††慰摤湩㩧〠ㄠ㔮敲㭭਍††潢摲牥爭摡畩㩳ㄠ瀰㭸਍††潦瑮眭楥桧㩴㜠〰഻ †映湯⵴楳敺›⸰爹浥഻ †戠捡杫潲湵㩤⌠㔲㌶扥഻ †挠汯牯›桷瑩㭥਍††潢摲牥›潮敮഻ †挠牵潳㩲瀠楯瑮牥഻ †琠慲獮瑩潩㩮瘠牡⴨琭慲獮瑩潩⥮഻ †眠楨整猭慰散›潮牷灡഻ †搠獩汰祡›汦硥഻ †愠楬湧椭整獭›散瑮牥഻ †樠獵楴祦挭湯整瑮›散瑮牥഻ †戠硯猭慨潤㩷〠㐠硰㘠硰ⴠ瀱⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤲഻紊਍਍戮湴猭慥捲⁨ൻ †戠捡杫潲湵㩤⌠攱㤲戳※⨯䐠牡敫⁲潦⁲敳牡档愠瑣潩⁮楤瑳湩瑣潩⁮⼪਍ൽഊ⸊瑢⵮摡ⵤ敮㩷潨敶Ⱳ⸠瑢⵮敳牡档栺癯牥笠਍††牴湡晳牯㩭琠慲獮慬整⡙㈭硰㬩਍††潢⵸桳摡睯›‰瀸⁸㈱硰ⴠ瀳⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤳഻紊਍਍⨯䤠汮湩⁥潆浲䌠牡⁤⼪਍椮汮湩ⵥ潦浲挭牡⁤ൻ †戠捡杫潲湵㩤眠楨整഻ †戠牯敤⵲慲楤獵›慶⡲ⴭ慲楤獵氭⥧഻ †戠硯猭慨潤㩷〠㠠硰㌠瀰⁸杲慢〨〮〬〬〬⤸഻ †洠牡楧⵮潢瑴浯›爲浥഻ †愠楮慭楴湯›汳摩䑥睯⁮⸰猴攠獡ⵥ畯㭴਍ൽഊ䀊敫晹慲敭⁳汳摩䑥睯⁮ൻ †映潲⁭⁻灯捡瑩㩹〠※牴湡晳牯㩭琠慲獮慬整⡙㈭瀰⥸※ൽ †琠⁯⁻灯捡瑩㩹ㄠ※牴湡晳牯㩭琠慲獮慬整⡙⤰※ൽ紊਍਍挮牡ⵤ敨摡牥椭汮湩⁥ൻ †瀠摡楤杮›⸱爵浥㈠敲㭭਍††潢摲牥戭瑯潴㩭ㄠ硰猠汯摩⌠ㅦ㕦㥦഻ †搠獩汰祡›汦硥഻ †樠獵楴祦挭湯整瑮›灳捡ⵥ敢睴敥㭮਍††污杩⵮瑩浥㩳挠湥整㭲਍ൽഊ⸊慣摲栭慥敤⵲湩楬敮栠″ൻ †映湯⵴楳敺›⸱㔲敲㭭਍††潣潬㩲瘠牡⴨愭浤湩猭捥湯慤祲㬩਍ൽഊ⸊瑢⵮汣獯ⵥ湩楬敮笠਍††慢正牧畯摮›潮敮഻ †戠牯敤㩲渠湯㭥਍††潦瑮猭穩㩥ㄠ㔮敲㭭਍††潣潬㩲⌠㐹㍡㡢഻ †挠牵潳㩲瀠楯瑮牥഻紊਍਍挮牡ⵤ潢祤瀭摡楤杮笠਍††慰摤湩㩧㈠敲㭭਍ൽഊ⸊潦浲札楲ⵤ潭敤湲笠਍††楤灳慬㩹映敬㭸਍††汦硥搭物捥楴湯›潣畬湭഻ †朠灡›⸱爵浥഻紊਍਍昮牯⵭牧畯⵰潭敤湲笠਍††楤灳慬㩹映敬㭸਍††汦硥搭物捥楴湯›潣畬湭഻ †朠灡›⸰父浥഻紊਍਍昮牯⵭牧畯⵰潭敤湲氠扡汥笠਍††潦瑮眭楥桧㩴㘠〰഻ †映湯⵴楳敺›⸰㔹敲㭭਍††潣潬㩲⌠㌳ㄴ㔵഻紊਍਍昮牯⵭湩異⵴潭敤湲笠਍††楷瑤㩨ㄠ〰㬥਍††慰摤湩㩧ㄠ敲⁭⸱㔲敲㭭਍††潢摲牥爭摡畩㩳ㄠ瀲㭸਍††慢正牧畯摮›昣昸晡㭣਍††潢摲牥›瀱⁸潳楬⁤攣攲昸㬰਍††潦瑮猭穩㩥ㄠ敲㭭਍††潦瑮昭浡汩㩹瘠牡⴨昭湯⵴牰浩牡⥹഻ †琠慲獮瑩潩㩮瘠牡⴨琭慲獮瑩潩⥮഻紊਍਍昮牯⵭湩異⵴潭敤湲昺捯獵笠਍††畯汴湩㩥渠湯㭥਍††慢正牧畯摮›桷瑩㭥਍††潢摲牥挭汯牯›㈣㘵攳㭢਍††潢⵸桳摡睯›‰‰‰瀴⁸杲慢㌨ⰷ㤠ⰹ㈠㔳‬⸰⤱഻紊਍਍昮牯⵭牧摩爭睯笠਍††楤灳慬㩹朠楲㭤਍††牧摩琭浥汰瑡ⵥ潣畬湭㩳ㄠ牦ㄠ牦഻ †朠灡›⸱爵浥഻紊਍਍昮牯⵭捡楴湯⵳湩楬敮笠਍††楤灳慬㩹映敬㭸਍††番瑳晩⵹潣瑮湥㩴映敬⵸湥㭤਍††慭杲湩琭灯›爱浥഻紊਍਍
/* === GALLERY LIST LAYOUT === */
.gallery-admin-card {
    display: flex;
    background: white;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--admin-border);
    overflow: hidden;
    height: 200px; /* Fixed height per card */
    transition: var(--transition);
}

.gallery-admin-card:hover {
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
}

.gallery-admin-image {
    width: 250px; /* Fixed width for image */
    position: relative;
    flex-shrink: 0;
}

.gallery-admin-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-admin-inputs {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background: #fdfdfd;
}

.form-group-compact {
    width: 100%;
}

.form-input-compact {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1px solid #e2e8f0;
    border-radius: 4px; /* Slightly sharper corner for inputs */
    font-size: 0.9rem;
    background: white;
    transition: all 0.2s;
    font-family: var(--font-primary);
}

.form-input-compact:focus {
    outline: none;
    border-color: var(--admin-primary);
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

/* Red-border style for empty required fields effect (Mockup style) 
   We default to standard border, but user can style as red if needed.
   For now, we keep it standard clean UI, but if user explicitly wanted red boxes:
*/
/* .form-input-compact { border-color: #ef4444; } */

.btn-delete-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(239, 68, 68, 0.9);
    color: white;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    opacity: 0; /* Hide by default */
}

.gallery-admin-image:hover .btn-delete-overlay {
    opacity: 1;
}

.btn-delete-overlay:hover {
    transform: scale(1.1);
    background: #dc2626;
}

@media (max-width: 768px) {
    .gallery-admin-card {
        flex-direction: column;
        height: auto;
    }
    .gallery-admin-image {
        width: 100%;
        height: 200px;
    }
}

/* === GALLERY LIST LAYOUT REFINED === */
.gallery-admin-card {
    display: flex;
    background: white;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--admin-border);
    overflow: hidden;
    height: 140px; /* Reduced height */
    transition: var(--transition);
    align-items: center;
}

.gallery-admin-card:hover {
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
}

.gallery-admin-image {
    width: 180px; /* Reduced width */
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

.gallery-admin-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-admin-inputs {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem; /* Compact gap */
    background: #fdfdfd;
    height: 100%;
    box-sizing: border-box;
}

.form-group-compact {
    width: 100%;
    margin-bottom: 0;
}

.form-input-compact {
    width: 100%;
    padding: 0.4rem 0.6rem;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    font-size: 0.85rem;
    background: white;
    transition: all 0.2s;
    font-family: var(--font-primary);
}

.form-input-compact:focus {
    outline: none;
    border-color: var(--admin-primary);
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

.btn-delete-overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(239, 68, 68, 0.9);
    color: white;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    opacity: 0;
}

.gallery-admin-image:hover .btn-delete-overlay {
    opacity: 1;
}

.btn-delete-overlay:hover {
    transform: scale(1.1);
    background: #dc2626;
}

@media (max-width: 768px) {
    .gallery-admin-card {
        flex-direction: column;
        height: auto;
    }
    .gallery-admin-image {
        width: 100%;
        height: 180px;
    }
}
⼊‪潃瑮楡敮⁲慤氠獩慴⨠ਯ朮污敬祲氭獩⵴潣瑮楡敮⁲੻††楤灳慬㩹映敬㭸 †映敬⵸楤敲瑣潩㩮挠汯浵㭮 †朠灡›〲硰਻††慰摤湩㩧㈠瀰㭸 †戠捡杫潲湵㩤⌠㡦㥦慦਻††潢摲牥爭摡畩㩳㠠硰਻੽⼊‪慃摲䠠牯穩湯慴⁬⼪⸊慧汬牥⵹慣摲栭牯穩湯慴⁬੻††楤灳慬㩹映敬㭸 †戠捡杫潲湵㩤⌠晦㭦 †戠牯敤⵲慲楤獵›〱硰਻††癯牥汦睯›楨摤湥਻††潢⵸桳摡睯›‰瀲⁸瀸⁸杲慢〨〮〬〬〬⤸਻††潢摲牥›瀱⁸潳楬⁤攣改散㭦紊ਊ⨯䰠摡⁯獅畱牥潤›浉条浥䘠硩⁡⼪⸊慣摲椭杭氭晥⁴੻††汦硥›‰‰㠲瀰㭸⼠‪慌杲牵⁡楦慸⨠ਯ††潰楳楴湯›敲慬楴敶਻††業⵮敨杩瑨›㈲瀰㭸 †戠捡杫潲湵㩤⌠敥㭥紊ਊ挮牡ⵤ浩ⵧ敬瑦椠杭笠 †眠摩桴›〱┰਻††敨杩瑨›〱┰਻††扯敪瑣昭瑩›潣敶㭲 †瀠獯瑩潩㩮愠獢汯瑵㭥 †氠晥㩴〠਻††潴㩰〠਻੽⼊‪慌潤䐠物楥潴›潆浲汵狡潩䘠敬敶⁬⼪⸊慣摲昭牯⵭楲桧⁴੻††汦硥›㬱 †瀠摡楤杮›〲硰㈠瀵㭸 †搠獩汰祡›汦硥਻††汦硥搭物捥楴湯›潣畬湭਻††番瑳晩⵹潣瑮湥㩴挠湥整㭲紊ਊ昮牯⵭牧畯⵰慣摲笠洠牡楧⵮潢瑴浯›㔱硰※੽昮牯⵭慬敢⵬浳笠搠獩汰祡›汢捯㭫映湯⵴楳敺›⸰㔸敲㭭映湯⵴敷杩瑨›〶㬰挠汯牯›㘣㝣㜵㭤洠牡楧⵮潢瑴浯›瀵㭸素⸊潦浲挭湯牴汯挭牡⁤⁻楷瑤㩨ㄠ〰㬥瀠摡楤杮›〱硰※潢摲牥›瀱⁸潳楬⁤挣摥搴㭡戠牯敤⵲慲楤獵›瀶㭸素琊硥慴敲⹡潦浲挭湯牴汯挭牡⁤⁻敲楳敺›敶瑲捩污※敨杩瑨›〸硰※੽⼊‪旵⁳⼪⸊慣摲愭瑣潩獮笠搠獩汰祡›汦硥※番瑳晩⵹潣瑮湥㩴映敬⵸湥㭤朠灡›〱硰※慭杲湩琭灯›〱硰※慰摤湩ⵧ潴㩰ㄠ瀵㭸戠牯敤⵲潴㩰ㄠ硰猠汯摩⌠敥㭥素⸊瑢⵮慣摲愭瑣潩⁮⁻慰摤湩㩧㠠硰ㄠ瀶㭸戠牯敤⵲慲楤獵›瀶㭸戠牯敤㩲渠湯㭥挠牵潳㩲瀠楯瑮牥※楤灳慬㩹映敬㭸愠楬湧椭整獭›散瑮牥※慧㩰㘠硰※੽戮湴搭汥瑥⁥⁻慢正牧畯摮›昣晦※潣潬㩲⌠捤㔳㔴※潢摲牥›瀱⁸潳楬⁤搣㍣㐵㬵素⸊瑢⵮慳敶笠戠捡杫潲湵㩤⌠㠲㝡㔴※潣潬㩲眠楨整※੽⼊‪敒灳湯楳楶慤敤䴠扯汩⁥⼪䀊敭楤⁡洨硡眭摩桴›㘷瀸⥸笠 †⸠慧汬牥⵹慣摲栭牯穩湯慴⁬⁻汦硥搭物捥楴湯›潣畬湭※੽††挮牡ⵤ浩ⵧ敬瑦笠映敬㩸渠湯㭥栠楥桧㩴㈠〰硰※楷瑤㩨ㄠ〰㬥素紊ഊ